/* Mixins:
   ========================================================================== */

// size to one line
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// placeholder helper
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}


@mixin flexBetween (){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin btnService(){
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
}

@mixin border-radius($radius) { 
  -webkit-border-radius: $radius;    // Chrome и Safari
     -moz-border-radius: $radius;    // Firefox
      -ms-border-radius: $radius;    // Internet Explorer
       -o-border-radius: $radius;    // Opera
          border-radius: $radius;    // Стандартный CSS
}

@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url("#{$file-path}.ttf") format("ttf"),
      url("#{$file-path}.woff2") format("woff2");
  }
}

// RESPONSIVE PARAMS

@mixin large {
  @media screen and (max-width: 1170px) {
      @content;
  }
}

@mixin medium {
  @media screen and (max-width: 992px) {
      @content;
  }
}

@mixin small {
  @media screen and (max-width: 768px) {
      @content;
  }
}

@mixin extraSmall {
  @media screen and (max-width: 451px) {
      @content;
  }
}

@mixin responsive($width) {
  @media screen and (max-width: $width) {
      @content;
  }
}
