/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Roboto';

// Size
$mainFontColor           : #C5C5C5;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1170px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;


// Colors
$container-width: 1170px;
$color-blue: #2E99E9;
$background-color: #E5E5E5;
$color-grey: #C5C5C5;
$background-grey: #FAFAFA;
