.tabs{
  width: auto;
}

.tabs__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.tabs__item {
  flex: 1 0;
  text-align: center;
}

.tabs__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  color: $color-grey;

}
.grey{
  margin-left: 7px;
}
.blue{
  display: none;
}

.tabs__item:hover > .tabs__link, 
.tabs__item--active > .tabs__link {
  color: $color-blue;
    
}
.tabs__item--active{
  border-top: 1px solid $color-blue;
  transition: transform .2s ease-in-out;
}
.tabs__item--active> .tabs__link > .blue{
  display: block;
  writing-mode: vertical-lr;
}
.tabs__item--active> .tabs__link > .grey{
  display: none;
}

.tabs__content-item {
  display: none;
}

.tabs__content-item--active {
  display: block;
}
